#root {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
    margin: 4px;
    padding: 10px;
}

.main__title {
    color: #64d66e;
}

.main__list-item {
    color: #4886d6;
}

.main__paragraph {
    color: #000000;
    font-weight: 300;
}

.main__paragraph--bold {
    font-weight: 700;
}

.main__paragraph--orange {
    color: #f19136;
}

.main__link {
    color: #569621;
    font-weight: 500;
}

.main__link--orange {
    color: #f19136;
}